<main>
  <h1 class="title">Test Project</h1>
  <h2>Chart {{app.chartType}}</h2>
  <button class="btn" ng-click="app.randomize()">Generate Data</button><br/>
 
  <!-- Images (and assets) are parsed and loaded from within the public directory -->
    <a href="#" class="btn" ng-click="app.chartType='Bar'">Bar</a> |
    <a href="#" class="btn" ng-click="app.chartType='Line'">Line</a> |
    <a href="#" class="btn" ng-click="app.chartType='Radar'">Radar</a> |

<div class="chartes">
  <canvas id="base"
      class="chart-base"
      chart-type="app.chartType"
      chart-data="app.data"
      chart-labels="app.labels">
  </canvas>
</div>



</main>
<footer>

</footer>
